<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	default-autowire="byName" default-lazy-init="true"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
       
     <bean id="jedisSystemMessagePoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxActive" value="${redis.systemMessage.pool.maxActive}"></property>
		<property name="maxIdle" value="${redis.systemMessage.pool.maxIdle}"></property>
		<property name="maxWait" value="${redis.systemMessage.pool.maxWait}"></property>
		<property name="testOnBorrow" value="${redis.systemMessage.pool.testOnBorrow}"></property>
	</bean> 

	<bean id="systemMessageJedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" ref="jedisSystemMessagePoolConfig" />
		<constructor-arg index="1" value="${jedis.systemMessage.host}"/>
		<constructor-arg index="2" value="${jedis.systemMessage.port}"/>
		<constructor-arg index="3" value="${jedis.systemMessage.timeout}"/>
		<constructor-arg index="4"><null/></constructor-arg>
		<constructor-arg index="5" value="${jedis.systemMessage.database}"/>
	</bean>
	
</beans>

